

body {font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;}

body {overflow: hidden;}

.right {text-align: right;}

big {font-size: 2.6em; height: 0.5em; display: inline; float:left; margin-right: 0.15em; top: -0.15em; position: relative; font-family: 'Georgia', cursive; top: -0.12em; font-size: 2.7em;}

.content {margin: 1.25em;}

.front-page:after  {border: 0.5em solid black; position: absolute; width: calc(100% - 1em); height: calc(100% - 1em + 1px); content: ''; top: 0;}

.front-page .title {font-weight: 900;}
.front-page .title span:nth-of-type(1) {transform: rotate(270deg); display: inline-block; position: absolute;
  font-size: 2em;top: 1.3em; left: -0em;
  font-size: 1.7em;top: calc(0.588em + 1em); left: calc(0.588em + -0.4em);
  line-height: 1em;
}
.front-page .title span:nth-of-type(2), .front-page .title span:nth-of-type(1n+4) {text-transform: uppercase;}
.front-page .title span:nth-of-type(2) {text-align: right;  position: relative; line-height: 1.1;}
.front-page .title span:nth-of-type(3) {display: block; line-height: 0; text-align: center;}
.front-page .title span:nth-of-type(4) {line-height: 1.1;}
.front-page .title span:nth-of-type(5) {line-height: 0.8;}

.front-page .date-price {line-height: 1.8;}
.front-page .date-price > span {right: 1.25em; position: absolute;}

.front-page .image {background-image: url('assets/eye.png'); width: 100%; height: 12.5em; background-size: contain; background-repeat: no-repeat; background-position: center; filter: grayscale(1) saturate(100%) contrast(200%); mix-blend-mode: multiply; z-index: 2; animation: blink 12s -3s infinite ease-in-out; margin-top: -2em;
}
@keyframes blink {
  0%, 45%, 50%, 90%, 95%, 100% {transform: scaleY(1);}
  47.5%, 92.5%, 97.5% {transform: scaleY(0);}
}

.front-page .eye-shadow {height: 2.5em; width: 9.6875em;  border-radius: 50%;  top: -6.75em; position: relative; z-index: 0;
  box-shadow: 0px 6.25em 1.25em black; margin: auto; opacity: 0.75;
  /* filter: drop-shadow(0 0 20px black);  */
  background-color: transparent;}

.front-page .recent-posts {text-align: center; margin-top: 1em;}

/* FRONTISPIECE */

.fancy-hr {text-align: center;}

.reverse {transform: scaleX(-1); display:inline-block;}

.stretch.reverse {transform: scaleX(-3); display:inline-block;}

.stretch {transform: scaleX(3); display:inline-block;}

.frontispiece p.frontis-p {border: 1px solid black; padding: 0.625em; font-size: 0.875em; margin-top: 1.6em;}

.frontispiece .content {margin-top: 5em;}

/* ALL PAGES */

.right-page, .backtispiece {background-image:
linear-gradient(to left, rgba(0,0,0,0) 94%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 99.5%, rgba(0,0,0,0.5));}
.left-page , .frontispiece {background-image:
linear-gradient(to right, rgba(0,0,0,0) 94%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 99.5%, rgba(0,0,0,0.5));}

/* INNER PAGES */


.inner-page .content .date {text-align: right; font-size: 0.825em;}

.inner-page .content .title {font-size: 0.5em; border-bottom: 1px solid black; margin-bottom: 2em; font-family: 'Georgia', serif ; margin-top: 1em; text-align: center; white-space: pre;}

.inner-page .content .title-emoji {filter: grayscale(1) saturate(100%) contrast(110%) brightness(110%);}
.inner-page .content .title-emoji:nth-of-type(2) {transform: scaleX(-1); display: inline-block;}

.inner-page .content .body {font-size: 0.875em; text-align: justify;}

/* .inner-page .content .body br {content: ' '; display: inline; margin-right: 4ch;height: 0em; width: 100%;} */

.content .peace, .content .shrug {margin-top: 6em;}

/* backtispiece */

.backtispiece .content > div {font-size: 0.875em; border: 1px solid black; padding: 1em; margin: 5em 1em;}
.backtispiece .content > div input {border: 1px solid black; padding: 1em; margin: 0em; width: calc(100% - 2em - 2px); background-color: gold;}

p.peace {text-align: center; font-size: 2em; filter: grayscale(1) saturate(100%) contrast(140%) brightness(100%);}

/* BACK PAGE */

.back-page .sticker {border-radius: 50%; background-color: black; height: 12em; width: 12em; color: gold; text-align: center; margin: 18em auto; transform:rotate(10deg); overflow: hidden;}

.back-page .sticker .logo{filter: grayscale(1) saturate(100%) contrast(000%) opacity(100%) drop-shadow(999px 0px 0px gold); position: relative; left:-999px;
  /* mix-blend-mode: multiply; */
   line-height: 0.5; font-size: 4em; margin-top: 0.12em; }

.back-page .sticker span:nth-of-type(1) {font-size: 0.675em; display: block; padding: 1.5em 3em; }
.back-page .sticker span:nth-of-type(2) {font-size: 3em; display: block; margin-top: -0em; font-weight: 900; letter-spacing: -0.05em;}
.back-page .sticker span:nth-of-type(3) {font-size: 1.2em; display: block; line-height: 0.675;}




/* ANIMATION STUFF ^^^^^^^^^^^^^^^^ */

body {margin: 0px;}
main.viewer {margin: 20px; height: calc(100% - 2.5em); width: calc(100% - 2.5em); position: absolute; display: block; }

@media screen and (min-height:700px) {
  main.viewer {margin: 50px 20px; height: calc(100% - 5em);}
}

.journal-container {height: 580px;  display: inline-block; position: relative; left:-25%; }

.open-book-event, .unopen-book-event, .close-book-event, .unclose-book-event {
  animation-timing-function: ease-in-out; animation-fill-mode: forwards;
}
.open-book-event { /* was 0.5*/
  animation: openBook 1s 0s ease-in-out; animation-fill-mode: forwards;
}
.unopen-book-event {
  animation: unopenBook 1s 0s ease-in-out; animation-fill-mode: forwards;
}
.close-book-event { /* was 0.5 */
  animation: closeBook 1s 0s ease-in-out;animation-fill-mode: forwards;
}
.unclose-book-event {
  animation: uncloseBook 1s 0s ease-in-out;animation-fill-mode: forwards;
}

@keyframes openBook {
  0% { left: -25%;}
  100% { left: 0%;}
}
@keyframes unopenBook {
  0% { left: 0%;}
  100% { left: -25%;}
}
@keyframes closeBook {
  0% { left: 0%;}
  100% { left: 25%;}
}
@keyframes uncloseBook {
  0% { left: 25%;}
  100% { left: 0%;}
}

.inner-page { background-color: white;}
.inner-page, .front-page, .frontispiece, .backtispiece, .back-page {box-shadow: 0px 0px 2px black;}

.inner-page .page-no {position: absolute; bottom: 1em; text-align: center; display: block; left: calc(50% - 0.5ch); font-size: 0.75em;}

.front-page { border-left: 0px solid black; height: 100%; width: 50%; background-color: gold; position: absolute; transform: scaleX(1); left: 50%; z-index: 999;}

.right-page {left: 50%;}
.left-page {right: 50%; transform: scaleX(0); }

.frontispiece, .back-page {height: 100%; width: 50%; background-color: gold; position: absolute; transform: scaleX(0); right: 50%;}

.backtispiece {height: 100%; left: 50%; width: 50%; background-color: gold; position: absolute;}


.turn-page-clicker {position:absolute; height: 100%; width: 50%; top: 0; right: 0; z-index: 1000;}
.unturn-page-clicker {position:absolute; height: 100%; width: 50%; top: 0; left: 0; z-index: 1000;}

.turn-page-event-1 {
  animation: turnPage1 0.5s 0s ease-in; animation-fill-mode: forwards;
}
.turn-page-event-2 {
  animation: turnPage2 0.5s 0s ease-out; animation-fill-mode: forwards;
}

@keyframes turnPage1 {
  0% {transform: scaleX(1) skewY(0deg) skewX(0deg); left: 50%; top: 0;}
  100% {transform: scaleX(0) skewY(-6deg) skewX(0deg); left: 25%; top: -3.5%;}
}
@keyframes turnPage2 {
  0% {transform: scaleX(0) skewY(6deg) skewX(0deg); left: 25%; top: -3.5%;}
  100% {transform: scaleX(1) skewY(0deg) skewX(0deg); left: 0%; top: 0%;}
}

.unturn-page-event-1 {
  animation: unturnPage1 0.5s 0s ease-in; animation-fill-mode: forwards;
}
.unturn-page-event-2 {
  animation: unturnPage2 0.5s 0s ease-out; animation-fill-mode: forwards;
}

@keyframes unturnPage1 {
  0% {transform: scaleX(1) skewY(0deg); left: 0%; top: 0%;}
  100% {transform: scaleX(0) skewY(6deg);left: 25%; top: -3.5%;}
}
@keyframes unturnPage2 {
  0% {transform: scaleX(0) skewY(-6deg); left: 25%; top: -3.5%;}
  100% {transform: scaleX(1) skewY(0deg); left: 50%; top: 0%;}
}

.inner-pages .right-page {left: 50%; width: 50%; position: absolute; height: 100%;}
.inner-pages .left-page {right: 50%; width: 50%; position: absolute; height: 100%;}


/* ANIMATION STUFF ^^^^^^^^^^^^^ */

/* COMMENTS */

.comments-leaflet {width: 40%; text-align: center; border: 1px solid grey; box-shadow: 0px 0px 3px black; position: absolute;  height: 90%;transition: 1s; background-color: white; background-color: lightblue; z-index: 1000;}

.comments-leaflet.none {opacity: 0;}
.comments-leaflet {opacity: 1;}

.comments-leaflet.up {top: 5%;}
.comments-leaflet.down {top: 105%;}

.comments-leaflet.left {left: 5%; transform: rotate(1deg);}
.comments-leaflet.right {right: 5%; transform: rotate(-0.5deg);}

.comments-arrow {cursor: pointer; margin-top: 0.3em;}
.comments-arrow.bottom {transform: rotate(180deg); position: absolute; bottom: 0.5em; left: calc(50% - 0.5ch);}

.comments-arrow:hover + .comments-title {opacity: 1;}
.comments-leaflet.up > .comments-title {opacity: 1;}

.comments-title {font-size: 0.6em; text-transform: uppercase; font-weight: bold; opacity: 0; transition: opacity 0.5s;}

.comments-leaflet .comment {font-size: 0.825em; text-align: left; border-bottom: 1px solid black; margin: 1em; padding-bottom: 0.5em; font-style: italic; font-family: monospace;}
.comments-leaflet .comment:last-of-type {font-size: 0.785em; text-align: left; border-bottom: 0px solid grey;}

.comments-leaflet .comment .comment-author {font-weight: ; font-style: italic; margin-top: 0.325em;}
.comments-leaflet .comment .comment-date {text-align: right;}
